@use "../abstracts/variables" as var;

.post {
	max-width: 350px;
	position: relative;
	overflow: hidden;
	background-color: var.$clr-white;
	border-radius: 10px;
	box-shadow: 0 40px 40px -10px rgba(#c9d5e1, 0.5);
}

.post__image {
	width: 100%;
	height: 12.5rem;
	border-radius: 10px 10px 0 0;
	overflow: hidden;

	& img {
		width: 100%;
		height: 115%;
		object-fit: cover;
	}
}

.post__info {
	padding: 0 var.$spacing-large;
	padding-top: 2.25rem;
	padding-bottom: 1.25rem;
}

.post__title {
	color: var.$clr-dark-blue;
	font-size: var.$fs-medium;
	font-weight: var.$fw-bolder;
	margin-bottom: 0.75rem;
}

.post__description {
	margin-bottom: var.$spacing-large;
}

@media screen and (min-width: var.$bp-medium) {
	.post {
		max-width: 730px;
		overflow: visible;

		display: flex;
	}

	.post__image {
		max-width: 295px;
		height: auto;
		border-radius: 10px 0 0 10px;

		& img {
			height: 100%;
			object-fit: cover;
			object-position: left;
		}
	}

	.post__info {
		max-width: 60%;
		padding: 32px 40px;
	}

	.post__title {
		font-size: var.$fs-large;
		margin-bottom: 12px;
	}

	.post__description {
		margin-bottom: 20px;
	}
}
