@use "../abstracts/variables" as var;

.share-panel {
	opacity: 0;
	visibility: hidden;
	background-color: var.$clr-dark-blue;
	width: 100%;
	height: 4rem;
	padding: 0 var.$spacing-large;
	transition: all 0.2s ease;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	gap: 21px;
}

.share-panel--visible {
	opacity: 1;
	visibility: visible;
}

.share-panel__title {
	color: var.$clr-dark-light;
	font-size: var.$fs-base;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.share-panel__icons {
	display: flex;
	gap: 1rem;

	& img {
		width: 20px;
		height: 20px;
	}
}

@media screen and (min-width: var.$bp-medium) {
	.share-panel {
		border-radius: 10px;

		width: 250px;
		height: 55px;
		bottom: 100px;
		left: 550px;

		justify-content: center;
	}

	.share-panel::after {
		content: "";
		position: absolute;
		bottom: -15px;
		left: 50%;
		transform: translateX(-50%);
		border-width: 20px 20px 0 20px;
		border-style: solid;
		border-color: var.$clr-dark-blue transparent transparent transparent;
	}

	.button--dark {
		display: none !important;
	}
}
