// Fonts
$font-primary: "Manrope", sans-serif;
$fs-base: 0.8125rem;
$fs-medium: 1rem;
$fs-large: 1.25rem;
$fw-light: 500;
$fw-bolder: 800;

// Colors
$clr-dark-blue: #48556a;
$clr-dark-medium: #6e8098;
$clr-dark-light: #9daec2;
$clr-blue-extralight: #ecf2f8;
$clr-white: #fff;

// Spacing
$spacing-large: 2rem;

// Breakpoints
$bp-medium: 40rem;
